.carousel-inner img {
  height: 300px;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  color: white;
  padding: 3rem 2rem;
}

h3 {
 font-family: JavaneseText;
  text-align: center;
}
